.btn{
   display: flex;
    justify-content:space-between;

 

}
.buttonprev{
    background-color: black;
    color: aliceblue;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%; 

}